@model IEnumerable<TimeRegistration.Models.Hour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employees.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndingHour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingHour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
